html {
    background-color: $background-light-color;
}

.header {

    display: flex;
    align-items: center;
    margin: 0 auto 1rem auto;
    max-width: 960px;
    padding: 1rem;
    border-bottom: 1px solid $border-color;

    span.site-title {

        flex: 1;
        font-size: 1.4rem;
        font-weight: bold;

        a {
            color: $text-color;

            &:hover {
                color: $light-text-color;
                transition: .25s;
            }
        }
    }

    .nav {
        border: 2px solid $link-color;
        padding: 3px 3px 0 3px;
        border-radius: 4px;
        font-size: 0.8rem;
        line-height: 1rem;
    }
}

.container {

    margin: 0 auto;
    max-width: 700px;

    .intro {

        margin-top: 2rem;
        clear: both;
        display: inline-block;
        width: 100%;
        text-align: center;
        padding-bottom: 2rem;

        img {
            max-width: 20%;
        }

        .social {
            margin-bottom: 0;
        }
    }

    .content {

        border-bottom: 1px solid $border-color;

        a {
            border-bottom: 1px solid $link-color;
        }

        li::marker {
            color: $light-text-color;
        }

        img {
            display: block;
            float: none;
            margin-left: auto;
            margin-right: auto;
            height: auto;
            max-width: 100%;
        }
    }

    .content-header {

        clear: both;

        h1 {
            margin: 0;
        }

        .meta {
            font-size: 0.8rem;

            a {
                color: $light-text-color;
                font-weight: normal;
            }
        }
    }

    .content.home {

        .posts-for-year {
            margin-left: 20px;
        }

        h2,
        h3,
        h4 {
            font-family: $sans-font;
            font-weight: normal;
        }

        h4 {
            float: left;
            margin: 0;
            margin-left: 20px;
            padding: 0;
        }

        li {
            list-style-type: none;
            align-items: start;
            margin-bottom: 1rem;
            margin-left: 20px;
            border-bottom: 1px solid $border-color;

            time {
                justify-self: center;
            }

            .postdate {
                color: $light-text-color;
                font-size: 0.8rem;
                vertical-align: bottom;
            }

            .day:not(.item-0) {
                color: $background-light-color;
            }

            .posttitle {
                border-bottom: none;
            }
        }
    }

    .footer {

        border-top: 1px solid $border-color;
        color: $light-text-color;
        font-size: 0.7rem;
        text-align: center;
        padding: 3rem 0 0 0;

        a.url {
            color: $light-text-color;
            font-weight: normal;
        }

        ul {

            padding: 0;
            margin: 0;

            li {
                display: inline;
                list-style-type: none;
                margin: 0 0.5rem;
            }
        }
    }
}
