@media screen and (max-width: 500px) {

    .header {
        display: block;
    }

    .container {

        .content.home {

            .posts-for-year {
                margin-left: 0;
            }

            h2,
            h3,
            h4 {
                margin: 0;
            }

            li {
                margin-left: 0;
            }
        }
    }
}
