@media screen and (max-width: 470px) {

    .container {

        .header {

            padding-bottom: 0;

            h1.site-title {
                font-size: 1.1rem;
            }

            label {
                margin-top: 2px;
            }
        }

        .content.home {

            li {
                list-style-type: none;
                display: block;
                align-items: start;
                margin-bottom: 1rem;
                margin-left: 0;
                width: 100%;

                .postdate,
                .day,
                time {
                    display: none;
                }

                .posttitle {
                    max-width: 100%;
                    overflow: auto;
                    border-bottom: 1px solid $border-color;
                }
            }
        }
    }
}
