@media screen and (max-width: 760px) {

    .container {

        .header {

            .menu {

                label {
                    display: block;
                    font-weight: bold;
                    color: $link-color;
                    margin-top: 20px;
                }

                #toggle:checked+.nav {
                    display: block;
                    transition: 0.5s;
                }

                .nav {

                    display: none;

                    ul {

                        background: $background-light-color;
                        /* Old browsers */
                        background: -moz-linear-gradient(top, $background-light-color 0%, $background-dark-color 100%);
                        /* FF3.6-15 */
                        background: -webkit-linear-gradient(top, $background-light-color 0%, $background-dark-color 100%);
                        /* Chrome10-25,Safari5.1-6 */
                        background: linear-gradient(to bottom, $background-light-color 0%, $background-dark-color 100%);
                        /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$background-light-color', endColorstr='$background-dark-color', GradientType=0);
                        /* IE6-9 */
                        border-bottom: 1px solid $background-dark-color;
                        clear: both;
                        float: none;
                        left: 0;
                        margin: 0;
                        max-width: 100%;
                        padding: 0;
                        position: absolute;
                        overflow: hidden;
                        top: 100px;
                        width: 100%;

                        li {

                            border-bottom: 1px solid $background-dark-color;
                            clear: both;
                            float: left;
                            font-size: 150%;
                            padding: 15px 0 15px 15px;
                            transition: 0.5s;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}