$sans-font: Helvetica,Arial,sans-serif;
$serif-font: Georgia, 'Times New Roman', Times, serif;

html {
    font-family: $sans-font;
    font-size: 20px;
    line-height: 34px;
    color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $serif-font;
}

a {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        transition: all 0.3s ease-in-out;
    }
}