$sans-font: Helvetica, Arial, sans-serif;
$serif-font: Georgia, 'Times New Roman', Times, serif;

html {
    font-family: $sans-font;
    font-size: 20px;
    line-height: 36px;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $sans-font;
}

a {
    color: $link-color;
    font-weight: bold;
    text-decoration: none;

    &:hover {
        color: $link-hover-color;
        transition: all 0.3s ease-in-out;
    }
}

blockquote {

    color: $quote-color;
    display: block;
    font-size: 2rem;
    font-style: italic;
    line-height: 3rem;
    padding: 0 40px;
    font-weight: bold;
    width: 100%;

    cite {
        display: block;
        width: 100%;
        font-weight: normal;
        font-size: 1rem;
        text-align: right;
        clear: both;
    }
}