<!DOCTYPE html>
<html lang="{{ .Language }}">
{{ partial "header.html" . }}

<body>
	{{ partial "masthead.html" . }}

	<div class="container{{if .Section}} {{.Section}}{{end}}">

		<article class="h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
			<div class="content-header">
				<h1 class="title post-title p-name" itemprop="name headline">{{ .Title }}</h1>
				{{if eq .Section "posts"}}
				<div class="meta"><a class="u-url" href="{{ .Permalink }}"><time
							class="dt-published">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</time></a></div>
				{{end}}
			</div>

			<div class="content e-content" itemprop="articleBody">
				{{ .Content }}
			</div>
			{{if eq .Section "posts"}}
			<div class="related">
				<div class="next-post">
					{{ if .NextPage }}
					<a href="{{ .NextPage.Permalink }}" title="{{ .NextPage.Title }}">« Next post</a>
					{{ end }}
				</div>

				<div class="previous-post">
					{{ if .PrevPage }}
					<a href="{{ .PrevPage.Permalink }}" title="{{ .PrevPage.Title }}">Previous post »</a>
					{{ end }}
				</div>
			</div>
			{{ end }}
		</article>
		{{ partial "footer.html" . }}
	</div>
</body>

</html>
