{{ define "main" }}
<article class="h-entry" itemscope="" itemtype="http://schema.org/BlogPosting">
    <div class="container">
        <div class="content-header">
            {{if eq .Section "posts"}}
            <div class="meta"><time class="dt-published">{{ dateFormat "Monday, 2 January, 2006" .Date }}</time></div>
            {{ end }}
            <h1 class="post-titlee" itemprop="name headline">{{ .Title }}</h1>
            {{if eq .Section "posts"}}{{if .Params.tags }}
            <div class="tags">
                {{ range .Params.tags }}
                <a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}" title="{{ . }}">{{ . }}</a>
                {{ end }}
            </div>
            {{ end }}{{ end }}
        </div>

        <div class="content e-content" itemprop="articleBody">
            {{- with $featured_image := .Params.featured_image -}}
            {{- $image := resources.Get $featured_image -}}
            {{- with $image -}}
            {{- $imgSrc := "" -}}
            {{- $imgSrcSet := slice -}}
            {{- with $widths := site.Params.imageSizes -}}
            {{- range $widths -}}
            {{- $srcUrl := (printf "%gx" . | $image.Resize).RelPermalink -}}
            {{- if eq $imgSrc "" -}}
            {{- $imgSrc = $srcUrl -}}
            {{- end -}}
            {{- $imgSrcSet = $imgSrcSet | append (printf "%s %gw" $srcUrl .) -}}
            {{- end -}}
            {{- $imgSrcSet = (delimit $imgSrcSet ",") -}}
            {{- end -}}
            <figure>
                {{- if gt $image.Width 850 -}}
                <img width="{{ $image.Width }}" height="{{ $image.Height }}" src="{{ $image.RelPermalink }}"
                    alt="{{ .Title }}" decoding="async" fetchpriority="high" srcset="{{ $imgSrcSet }}"
                    sizes="{{ site.Params.imageSizeString }}" />
                {{- else -}}
                <img width="{{ $image.Width }}" height="{{ $image.Height }}" src="{{ $image.RelPermalink }}"
                    alt="{{ .Title }}" decoding="async" fetchpriority="high" />
                {{- end -}}
            </figure>
            {{- end -}}
            {{- end -}}
            {{ .Content}}
        </div>
    </div>
    {{if eq .Section "posts"}}
    <div class="navigation prevnext">
        {{ $pages := .CurrentSection.Pages.ByWeight }}
        {{ with $pages.Prev . }}
        <span class="prev">← <a href="{{ .RelPermalink }}" rel="prev">{{ .Title }}</a></span>
        {{ end }}
        {{ with $pages.Next . }}
        <span class="next"><a href="{{ .RelPermalink }}" rel="next">{{ .Title }}</a> →</span>
        {{ end }}
    </div>
    {{ end }}
</article>
{{ end }}