{{ define "main" }}
<article class="archive">
    <div class="container">
        {{ $pages := .Pages }}
        <div class="content-header">
            <h1 class="title post-title p-name" itemprop="name headline">All posts in <span id="search-term"
                    class="term">{{ .Title }}</span></h1>
            <p class="description"><span class="post-count">{{ $pages.Len }}</span> posts found.</p>
        </div>

        {{ partial "form.html" . }}

        {{ if eq .Data.Singular .Kind "category" }}
        <div class="content-categories">
            <div class="categories"> Filter Posts:
                <a href="/blog" class="category">All Posts</a>
                {{ range $name, $taxonomy := .Site.Taxonomies.categories }}
                <a href="/categories/{{ $name }}/" class="category">{{ title $name }} Posts</a>
                {{- end }}
            </div>
        </div>
        {{- end -}}

        <div class="content e-content" itemprop="articleBody"> <!-- Group by year. -->
            {{- range $pages.GroupByDate "2006" }}
            <div class="posts-group">
                <h2 class="main-header">{{ .Key }}</h2>
                <div class="posts">
                    {{ range $index, $post := .Pages }}
                    <a class="post" href="{{ .Permalink }}">
                        <h3 class="post-title">{{$post.Title}}</h3> <span class="post-day">{{ dateFormat "Jan 2" .Date
                            }}</span>
                    </a>
                    {{- end }}
                </div>
            </div>
            {{- end }}
        </div>
    </div>
</article>
{{ end }}