<div class="content home">
    <!-- Group by year. -->
    {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections }}
    {{- range $pages.GroupByDate "2006" }}
    <div class="posts-group">
        <div class="post-year" id="{{ .Key }}">{{ .Key }}</div>
        <ul class="posts-list">
            {{ range $index, $post := .Pages }}
            <li class="post-item">
                <a href="{{.Permalink}}">
                    <span class="post-title">{{$post.Title}}</span>
                    <span class="post-day">{{ dateFormat "Jan 2" .Date }}</span>
                </a>
            </li>
            {{- end }}
        </ul>
    </div>
    {{- end }}
    <p>I've been writing here since 2008 but, in 2019, I decided it was time to archive my
        older content. To find and read older posts, please visit my <a
            href="https://archive.chriswiegman.com/" title="Chris Wiegman's post archives">post archives</a>.</p>
</div>
