<div class="footer wrapper">
	<nav class="nav">
		<ul role="menu">
			<li role="presentation"><a role="menuitem" rel="me" href="https://mastodon.chriswiegman.com" title="Chris Wiegman on Mastodon">Social</a></li>
			<li role="presentation"><a role="menuitem" rel="me" href="https://gitea.chriswiegman.com" title="Chris Wiegman's public code projects">Code</a></li>
			<li role="presentation"><a role="menuitem" rel="me" href="https://profiles.wordpress.org/chriswiegman/" title="Chris Wiegman on WordPress.org">WordPress</a></li>
			<li role="presentation"><a role="menuitem" href="http://wieg.co/pgp" title="The public pgp key for Chris Wiegman">Public Key</a></li>
			<li role="presentation"><a role="menuitem" href="/index.xml" rel="alternate" title="The RSS feed for chriswiegman.com">RSS</a></li>
		</ul>
	</nav>
	<div class="h-card">
		<div class="copyright">&copy; 2019 <a href="{{ .Site.BaseURL }}" class="p-name u-url url metatag" rel="me" title="ChrisWiegman.com homepage">Chris
				Wiegman</a> · <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/" title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license">Creative Commons
				Licensed</a> · <a href="/policies/">Policies and Disclosures</a> · <a href="mailto:contact@chriswiegman.com" class="p-nickname u-email email metatag"
				rel="me" title="Contact Chris Wiegman">Contact</a></div>
	</div>
</div>