<div class="footer wrapper">
	<nav class="nav">
		<ul>
			<li><a href="https://mastodon.chriswiegman.com/chris">Mastodon</a></li>
			<li><a href="https://mastodon.chriswiegman.com/chris">Code</a></li>
			<li><a href="https://mastodon.chriswiegman.com/chris">WordPress</a></li>
		</ul>
	</nav>
	<div>&copy; 2019 Chris Wiegman · <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Licensed</a> · <a href="/index.xml">Subscribe via RSS</a></div>
</div>
