<div class="content">
	<ul class="menu">
		<li><a title="About Chris Wiegman" href="/about">About</a></li>
		<li><a title="Subscribe to this site in your favorite feed reader" href="/index.xml">RSS</a></li>
	</ul>
	<div class="copyright"> <span class="copyright-date">Copyright© {{ now.Year }}</span> | <a
			title="Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) license"
			href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">Creative Commons Licensed</a> |
		<a href="/policies/">Policies</a>
	</div>
</div>