<!DOCTYPE html>
<html lang="{{ .Language }}">
{{ partial "header.html" . }}

<body>
	<div class="container">
		{{ partial "head.html" . }}

		<div class="intro">
			<img src="/uploads/chris-wiegman.png" alt="Chris Wiegman" />
			<div class="intro-text">
				<p>I'm <a href="/about" title="My about page">Chris Wiegman</a>, a developer focusing on WordPress, privacy and the open web. I also enjoy <a href="/speaking" title="My speaking page">speaking</a>, writing and travel. Most importantly, I am doing my best to make the world a better place.</p>
			</div>
		</div>

		{{ partial "archive.html" . }}
		{{ partial "footer.html" . }}
	</div>
</body>

</html>
