<!DOCTYPE html>
<html lang="{{ .Language }}">
{{ partial "header.html" . }}

<body>
	<div class="container">
		{{ partial "head.html" . }}

		<div class="h-card intro">
			<img class="u-photo" src="/uploads/chris-wiegman.png" alt="Avatar of Chris Wiegman" />
			<div class="intro-text">
				<p>Hello, I'm <a class="u-url u-uid p-name" href="https://chriswiegman.com/">Chris Wiegman</a>. <span class="p-note">I am a developer based in <span class="p-locality">Florida</span> and focusing on <span class="p-category">WordPress</span>, <span class="p-category">privacy</span> and the <span class="p-category">open web</span>.</span></p>
				<p class="social">
					<a rel="me" class="u-email" href="mailto:contact@chriswiegman.com" title="Contact Me">Contact</a>  |
					<a rel="me" class="u-url" href="https://mastodon.chriswiegman.com/@chris" title="Chris Wiegman on Mastodon">Social</a> |
					<a rel="me" class="u-url" href="https://gitea.chriswiegman.com" title="Chris Wiegman's public code projects">Code</a> |
					<a rel="me" class="u-url" href="https://profiles.wordpress.org/chriswiegman/" title="Chris Wiegman on WordPress.org">WordPress</a> |
					<a class="u-url" href="http://wieg.co/pgp" title="The public pgp key for Chris Wiegman">Public Key</a>
				</p>
			</div>
		</div>

		{{ partial "archive.html" . }}
		{{ partial "footer.html" . }}
	</div>
</body>

</html>
